#cover {
    display: none;

}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

body {
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

#logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vh;
    padding: 2vh;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vh;
    font-size: 2vh;
    margin: 2vw;
    color: black;
}

nav>button {
    border-radius: 40px;
    color: white;
    background-color: pink;
    padding: 2vh;
    width: 130px;
    font-size: 18px;
}


#inspo {
    display: flex;

    height: 40vh;
    width: 100vw;
    border: solid blue 2px;
    margin: 0;

    background-image: url(../images/summer.jpg);
    background-size: cover;
    background-position: center;

}

#inspo>p {
    font-size: 40px;
    align-items: center;
}

/* ------------------------------------------------------ all options --------------------------------------------------------------- */

#options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column: 1 / 3;
    gap: 0.5vw;
    padding: 2vh;
    margin: 0;
}

.find,
.make,
.inspire,
.favourites {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    border-radius: 2px;
    font-size: 25px;
    color: white;

}


.find {
    background-image: url(../images/happy_hour.jpg);
    background-repeat: repeat;
    background-size: cover;

}

.make {
    background-image: url(../images/make.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.inspire {
    background-image: url(../images/inspire.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.favourites {
    background-image: url(../images/heart_drink.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

/* ---------------------------------------------------------- all pictures ------------------------------------------------------------- */
#pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 2fr;

    height: 80vh;
    margin: 2vh;
    text-align: center;
    align-items: center;
    gap: 1.5vw;
}

#summer,
#bubbles,
#retro,
#lessismore {
    font-size: 30px;
    align-items: flex-end;
    justify-content: flex-end;

}

#summer {
    height: 500px;
    width: auto;

    background-image: url(../images/summer\ drinks.jpg);
    background-repeat: repeat;
    background-size: cover;

    grid-row: 2;
    grid-column: 1;
    color: #fea78b;
}

#bubbles {
    height: 500px;
    width: auto;
    background-image: url(../images/Grapefruit_swirl.jpg);
    background-repeat: repeat;
    background-size: cover;

    grid-row: 2;
    grid-column: 2;

}

#retro {
    height: 500px;
    width: auto;
    background-image: url(../images/Cucumber_gimlet.jpg);
    background-repeat: repeat;
    background-size: cover;

    grid-row: 2;
    grid-column: 3;
}

#lessismore {
    height: 500px;
    width: auto;
    background-image: url();
    background-repeat: repeat;
    background-size: cover;

    grid-row: 1;
    grid-column: 1;
}