#all_recipes>h2 {
    text-align: center;
    font-size: 7vh;
    margin: 0;
    padding-top: 20px;
}

#all_recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 15vh;
}