#inspo {
    display: flex;
    justify-content: center;
    align-items: center;
}


#all_recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 10vh 0 10vh;
    gap: 1.5vw;
    justify-content: center;
}

#inspo>h1 {
    margin: var(--storlek);
    text-align: center;
    font-size: 80px;
}

p {
    font-size: calc(1.3 * var(--storlek))
}