#inspo {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
}

#all_recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 10vh 0 10vh;
    gap: 1.5vw;
    justify-content: center;
}

p {
    font-size: 40px;
    margin: 10px 0 10px 0;
    text-align: center;
}