@font-face {
  font-family: "Alumni Sans";
  src: url(./fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

:root {
  --storlek: 2vw;
}

body {
  margin: 0;
  background-color: #f4efec;
  color: #353535;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: #f4efec;
  padding: 2vh;
}

#logo {
  display: flex;
  background-image: url(./images/logo.jpg);
  background-repeat: no-repeat;
  justify-content: flex-start;
  height: 15vh;
}

nav {
  display: flex;
  margin: 2vw;
  color: #f4efec;
  justify-content: flex-end;
  align-items: center;
}

nav>button {
  border-radius: 40px;
  padding: 1vh;
  width: 130px;
  margin-left: 10px;
  background-color: #353535;
  font-size: var(--storlek);
  color: #f4efec;
}

#home_button:hover {
  cursor: pointer;
  background-color: #3535357a;
}

#login_home:hover {
  cursor: pointer;
  background-color: #3535357a;
}

h2 {
  text-align: center;
  font-size: 7vh;
  margin: 0;
  padding: 20px 0 20px 0;
}

p {
  text-align: center;
  font-size: var(--storlek);
  margin: 0;
}

.hearts {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  color: rgba(8, 7, 7, 0.629);
  visibility: hidden;
  font-size: 30px;
}

.hearts:hover {
  user-select: none;
}

#notification {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5vh;
  margin-bottom: 4vh;
  gap: 1.5vw;
}

#navigation>button {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: #876e61 2px;
  color: #876e61;
  height: 5vh;
  font-size: calc(1.3 * var(--storlek));
  margin: calc(0.15 * var(--storlek));

}

#images {
  display: flex;
  position: relative;
}


.show_hover {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  opacity: 1;
  transition-duration: 1s;
  transition-property: opacity;
}

.show_hover:hover {
  cursor: pointer;
  opacity: 0;
}

.hover_recipe {
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.hover_recipe:hover {
  opacity: 0;
}

footer {
  background-color: rgba(223, 217, 213, 0.891);
  height: 8vh;
  margin-top: 30px;
}

footer>h2 {
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin-top: 28px;
  width: 13vw;
  margin-left: 45vw;

  border-radius: 40px;
  background-color: rgba(53, 53, 53, 0.301);
  color: rgba(244, 239, 236, 0.876);
  text-align: center;
}

/* #delete_p {
  visibility: hidden;
} */

#delete_p:hover {
  cursor: pointer;
  color: #353535;
}