@font-face {
  font-family: "Alumni Sans";
  src: url(../fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

body {
  margin: 0;
  background-color: #ccbaa7;
}

header {
  height: 20vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-image: url(../images/cocktails.webp);
  background-repeat: repeat;
  /*     background-size: cover; */
}

#logo {
  font-size: 2vh;
  padding: 2vh;
}

nav {
  font-size: 2vh;
  margin: 2vw;
  color: black;
}

nav>button {
  border-radius: 40px;
  color: white;
  background-color: #876e61;
  padding: 2vh;
  width: 130px;
  font-size: 18px;
  margin-left: 10px;
}

.hearts {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #f5f5f5;
  background-color: #876e61;
  padding: 1vh;
  width: 3vw;
  height: 4vh;
  margin-bottom: 4vh;
}

#notification {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}


/* ALERT BOX */
#white_box {
  height: 666px;
  width: 337px;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.701);

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

#white_box>.loading_text {
  height: 70px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  background-color: lightcoral;
  color: whitesmoke;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #white_box>.loading_text::after {
  content: "";
  animation-name: dots;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
}

@keyframes dots {

  0% {
    content: ""
  }

  10% {
    content: "."
  }

  50% {
    content: ".."
  }

  100% {
    content: "..."
  } */

}