@font-face {
  font-family: "Alumni Sans";
  src: url(../fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

body {
  margin: 0;
  background-color: #f4efec;
  color: #353535;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: #f4efec;
  padding: 2vh;
}

#logo {
  display: flex;
  background-image: url(./images/logo1.jpg);
  background-repeat: no-repeat;
  justify-content: flex-start;
  height: 15vh;
}

nav {
  display: flex;
  margin: 2vw;
  color: #f4efec;
  justify-content: flex-end;
  align-items: center;
}

nav>button {
  border-radius: 40px;
  padding: 1vh;
  width: 130px;
  margin-left: 10px;
  background-color: #353535;
  ;
  font-size: 20px;
  color: #f4efec;
}


.hearts {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  color: #f5f5f5;
  visibility: hidden;
  font-size: 30px;
}

.hearts:hover {
  user-select: none;
}

#notification {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

/* ALERT BOX */
#white_box {
  height: 666px;
  width: 337px;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.701);

  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

#white_box>.loading_text {
  height: 70px;
  width: 300px;
  text-align: center;
  font-size: 20px;
  background-color: lightcoral;
  color: whitesmoke;
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* #white_box>.loading_text::after {
  content: "";
  animation-name: dots;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
}

@keyframes dots {

  0% {
    content: ""
  }

  10% {
    content: "."
  }

  50% {
    content: ".."
  }

  100% {
    content: "..."
  } 

}*/

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  gap: 1.5vw;
}

#navigation>button {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: #876e61 2px;
  color: #876e61;
  height: 5vh;
  font-size: 20px;
}