body {
  margin: 0;
}

.recipe_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 1.5vw;
  margin: 0 10vh 0 10vh;
  justify-content: center;
}

#instructions>h1,
#ingredients>h1 {
  margin: 1vh;
}

#info_wrapper {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 20px;
  grid-column: 2;
  padding: var(--storlek);
  border: #876e61 solid 2px;
  border-radius: 20px;
  gap: var(--storlek);
}

.containers>h1 {
  font-size: 4vh;
  font-weight: 100;
}


#drink_name {
  margin: 0;
}


#drink_image {
  padding: 0;
  width: 80vh;
  border: none;
  grid-column: 1;
  grid-row: 1;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

#ingredients {
  border-top: #353535 solid 1px;
  margin-top: 4vh;
}

ul>#ingredient {
  margin: 0;
}

#instructions {
  border-top: #353535 solid 1px;
  margin-top: 4vh;

}

ul {
  list-style: none;
  margin: 0;
}

li {
  text-align: start;
  margin-bottom: 1vh;
}

#amount {
  font-weight: bold;
}