body {
    margin: 0;
}

.recipe_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5vh;
    gap: 30px;

    box-sizing: border-box;
}

.containers {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    color: #876e61;
    border: #876e61 solid 2px;
    border-radius: 20px;
    padding: 4vh;

}

/* #ingredients,
#instructions,
#info_wrapper {
    padding: 4vh;


} */

#drink_image {
    height: 80%;
    width: 80%;
    padding: 0;
    border-radius: 20px;
}

ul {
    list-style: none;
}

li {
    font-size: 20px;
    text-align: start;
}