body {
  margin: 0;
}

#theme_wrapper {
  display: flex;
}

.theme_container {
  justify-content: center;
  align-items: center;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
}

.theme_container > div {
  display: flex;
  height: 347px;
  width: 265px;
  border: 1px solid black;
}

#theme_text {
  grid-column: 1;
  grid-row: 1;
  font-size: 20px;
  color: white;
  text-align: center;
}

#theme_img {
  grid-column: 2;
  grid-row: 1;
  object-fit: cover;
 
}

#ingredients {
  grid-column: 1;
  grid-row: 2;
}

#instructions {
  grid-column: 2;
  grid-row: 2;
}

