#home {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
}

#pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5vw;
    margin: 0 10vh 0 10vh;
}

#summer>img,
#bubbly>img,
#retro>img,
#lessismore>img,
#punches>img {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    height: 300px;
    width: 100%;

    background-repeat: repeat;
    background-size: cover;
}

#cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
}

#cocktails>h1 {
    display: flex;
    margin: 5vh 5vh 3vh 5vh;
    justify-content: flex-start;
}

#cocktails>button {
    border-radius: 40px;
    color: #876e61;
    height: 8vh;
    width: 162px;
    font-size: 20px;
    margin-left: 300px;
}

#flip_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5vh 0 5vh;
    justify-content: center;
    gap: 1.5vw;

}

#flip_card>div>p {
    display: flex;
    justify-content: center;
    grid-row: 2;
    margin-top: 10px;
    font-size: calc(1.3 * var(--storlek))
}

#delete_p {
    font: 10px;
}