#home {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 7vh;
    margin: 0;
    padding-top: 20px;
}

#pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5vw;
    margin: 0 10vh 0 10vh;
}

p {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

#summer>img,
#bubbles>img,
#retro>img,
#lessismore>img,
#punches>img {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    height: 300px;
    width: 100%;


    background-repeat: repeat;
    background-size: cover;
}

#cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    margin: 2vh;
    margin-top: 7vh;
    margin: 0 10vh 0 10vh;
}

#cocktails>h1 {
    font-size: 50px;
}

#cocktails>button {
    border-radius: 40px;
    color: #876e61;
    height: 8vh;
    width: 162px;
    font-size: 20px;
    margin-left: 332px;
    margin-top: 27px;
}

#flip_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    height: 40vh;

    gap: 3.5vw;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 0 10vh 0 10vh;

}

#old_fashioned,
#cucumber_gimlet,
#grapefruit_swirl {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;

}

#old_fashioned>p,
#cucumber_gimlet>p,
#grapefruit_swirl>p,
.hearts {
    display: flex;
    justify-content: space-between;
    grid-row: 2;
}

.show_hover {
    height: 40vh;
    width: 100%;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
    grid-row: 1;

}