#home {
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 7vh;
    margin: 0;
    padding: 20px 0 20px 0;
}

#pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5vw;
    margin: 0 10vh 0 10vh;
}

p {
    text-align: center;
    font-size: 25px;
    margin: 0;
}

#summer>img,
#bubbly>img,
#retro>img,
#lessismore>img,
#punches>img {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    height: 300px;
    width: 100%;

    background-repeat: repeat;
    background-size: cover;
}

#cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr;

    align-items: center;
    margin: 2vh;
    margin-top: 7vh;
    margin: 0 5vh 0 5vh;
}

#cocktails>h1 {
    font-size: 70px;
}

#cocktails>button {
    border-radius: 40px;
    color: #876e61;
    height: 8vh;
    width: 162px;
    font-size: 20px;
    margin-left: 332px;
    margin-top: 27px;
}

#flip_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5vh 0 5vh;
    justify-content: center;
}

#old_fashioned>p,
#cucumber_gimlet>p,
#grapefruit_swirl>p {
    display: flex;
    justify-content: center;
    grid-row: 2;
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.show_hover {
    background-repeat: repeat;
    background-size: cover;

    height: 80%;
    width: 95%;
    border-radius: 30px;

}