#home {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 0 10vh 0 10vh;
}

h2 {
    text-align: center;
    font-size: 7vh;
    margin: 0;
    padding-top: 20px;
}

#pics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 1.5vw;
}

p {
    text-align: center;
    font-size: 30px;
    margin: 0;
}

#summer,
#bubbles,
#retro,
#lessismore,
#punches {
    align-items: flex-end;
    justify-content: flex-end;
    height: 40vh;
    width: 18vw;
    font-size: 30px;

    background-repeat: repeat;
    background-size: cover;
}

#cocktails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 2vh;
}

#cocktails>h1 {
    font-size: 50px;
}

#cocktails>button {
    border-radius: 40px;
    color: #876e61;
    height: 8vh;
    width: 162px;
    font-size: 20px;
    margin-left: 332px;
    margin-top: 27px;
}

#flip_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    margin: 2vh;
    gap: 2.5vw;
    width: fit-content;
    justify-content: center;
    align-items: center;

}


.show_hover {
    height: 60vh;
    width: 30vw;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 20px;
}