@font-face {
  font-family: "Alumni Sans";
  src: url(./fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

body {
  margin: 0;
}

header {
  height: 50vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-image: url(../images/cocktails.webp);
  background-repeat: repeat;
  /*     background-size: cover; */
}

#logo {
  font-size: 2vh;
  padding: 2vh;
}

nav {
  font-size: 2vh;
  margin: 2vw;
  color: black;
}

nav > button {
  border-radius: 40px;
  color: white;
  background-color: pink;
  padding: 2vh;
  width: 130px;
  font-size: 18px;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  background-color: pink;
  padding: 1vh;
  width: 3vw;
  font-size: 12px;
}
