@font-face {
  font-family: "Alumni Sans";
  src: url(/fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

body {
  margin: 0;
  background-color: #f4efec;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 15vh;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vh;
  padding: 2vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vh;
  font-size: 2vh;
  margin: 2vw;
  background-color: #f4efec;
}

nav>button {
  color: #f4efec;
  background-color: #353535;
  font-size: 20px;
  border-radius: 40px;
  padding: 1vh;
  width: 130px;
  margin-left: 10px;
}

footer>p {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

/* #container {
  background-color: #ccbaa7;
  min-height: 30vh;
  width: 95vw;
  margin:
    margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 10vh 0 10vh;
  gap: 1.5vw;
  justify-content: center;
}

.drink-container {}


footer {
  background-image: url(../images/cocktails.webp);
  background-repeat: no-repeat;
  height: 3vh;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
}

#favourite_button {
  background-color: #ce7474;
}

#index_p {
  text-align: center;
  font-size: 25px;
}

img {
  height: 150px;
  width: 150px;
}