@font-face {
  font-family: "Alumni Sans";
  src: url(/fonts/AlumniSans-VariableFont_wght.ttf);
}

* {
  font-family: Alumni Sans;
}

body {
  margin: 0;
  background-color: #ccbaa7;
}

header {
  display: grid;
  grid-template-columns: 2fr 2fr;
  height: 15vh;

  background-image: url(../images/cocktails.webp);
  background-repeat: repeat;
}

#logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2vh;
  padding: 2vh;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vh;
  font-size: 2vh;
  margin: 2vw;
  color: black;
}

nav > button {
  border-radius: 40px;
  color: white;
  background-color: #876e61;
  padding: 2vh;
  width: 130px;
  font-size: 18px;
  margin-left: 10px;
}

#section {
  background-color: #ccbaa7;
  height: 100vh;
  width: 100vw;
  display: flex;
}

p {
  text-align: center;
  font-size: 25px;
  margin: 0;

}

#container {
  background-color: #ccbaa7;
  min-height: 30vh;
  width: 95vw;
  margin: auto;
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
}

footer {
  background-image: url(../images/cocktails.webp);
  background-repeat: no-repeat;
  height: 10vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

#favourite_button {
  background-color: #ce7474;;
}

